@model ProductEmailAFriendModel
@using Nop.Web.Models.Catalog;
@{
    //Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Layout = "";
    //title
    //Html.AddTitleParts(Model.ProductName);
    //page class
    //Html.AddTitleParts(T("PageTitle.ProductEmailAFriend").Text);
    //Html.AppendPageCssClassParts("html-email-a-friend-page");
}

        @if (Model.SuccessfullySent)
        {
            <div id="mailResult" class="help-block text-success">
                @Model.Result
            </div>
        }
        else
        {

            using (Html.BeginForm("ProductEmailAFriend", "Product"))
            {
                <p id="mailResult" class="help-block text-success hidden">
                    @Model.Result
                </p>
                @Html.AntiForgeryToken()
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="help-block text-danger">@validationSummary</div>
                }
                <div class="input-with-icon">
                    <span class="input-icon">
                        <img src="~/Themes/ags2017/Content/img/input-icons/input-icon-mail.png" class="img-responsive">
                        <span class="input-required">@Html.RequiredHint()</span>
                    </span>
                    @Html.TextBoxFor(model => model.FriendEmail, new { @class = "friend-email form-control", placeholder = T("Products.EmailAFriend.FriendEmail.Hint") })
                    <p class="help-block text-danger">@Html.ValidationMessageFor(model => model.FriendEmail)</p>
                </div>
                <div class="input-with-icon">
                    <span class="input-icon">
                        <img src="~/Themes/ags2017/Content/img/input-icons/input-icon-mail.png" class="img-responsive">
                        <span class="input-required">@Html.RequiredHint()</span>
                    </span>
                    @Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "your-email form-control", placeholder = T("Products.EmailAFriend.YourEmailAddress.Hint") })
                    <p class="help-block text-danger">@Html.ValidationMessageFor(model => model.YourEmailAddress)</p>
                </div>
                <div class="input-with-icon textarea-with-icon">
                    <span class="input-icon">
                        <img src="~/Themes/ags2017/Content/img/input-icons/input-icon-mail.png" class="img-responsive">
                    </span>
                    @Html.TextAreaFor(model => model.PersonalMessage, new { @class = "form-control", placeholder = T("Products.EmailAFriend.YourEmailAddress.Hint") })
                    <p class="help-block text-danger">@Html.ValidationMessageFor(model => model.PersonalMessage)</p>
                </div>
                <div class="input-with-icon">
                    @if (Model.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            @Html.Raw(Html.GenerateCaptcha())
                        </div>
                    }
                </div>
                <button class="btn-block button-1 send-email-a-friend-button" type="submit" name="send-mail">
                    <img src="~/Themes/ags2017/Content/img/input-icons/input-icon-mail.png" class="img-icon">
                    @T("Products.EmailAFriend.Button")
                </button>
            }
        }